*
    padding: 0
    margin: 0
    box-sizing: border-box

body 
    background-color: #002451

.interfaceBlock
    display: grid
    grid-template-columns: 5fr 5fr
    grid-template-areas: "cryptoBlock usersBlock" 
